// This file holds all the design tokens from your specification.
:root {
  /* Colors */
  --color-bg-page: #fffeec;
  --color-text-primary: #32150f;
  --color-text-secondary: #84715f;
  --color-accent-primary: #ccb43e;

  @font-face {
  font-family: 'Fixel-L';
  src: url('../fonts/FixelDisplay-Light.woff2') format('woff2');
  font-weight: light;
  font-style: normal;
  font-display: swap;
}

$font-family-base: 'Fixel-L', sans-serif;
$font-family-heading: 'Yeseva One', serif;
$font-size-base: 16px;
$line-height-base: 1.6;

  /* Layout */
  --container-max: 1600px;
  --container-padding: 2rem;
}