---
layout: "layouts/gallery.njk"
title: "Animation"
permalink: "/animation/"
description: "Animated graphics and motion pieces"
---

{% set workItems = collections.animation %}
{% for item in workItems %}
  {% include "components/work-thumbnail.njk" %}
{% endfor %}