---
layout: "layouts/gallery.njk"
title: "Books"
permalink: "/books/"
description: "Book covers and editorial design"
---

{% set workItems = collections.books %}
{% for item in workItems %}
  {% include "components/work-thumbnail.njk" %}
{% endfor %}