---
layout: "layouts/gallery.njk"
title: "Motion Design"
permalink: "/motion-design/"
description: "Animated graphics and motion pieces"
---

{% set workItems = collections.motionDesign %}
{% for item in workItems %}
  {% include "components/work-thumbnail.njk" %}
{% endfor %}