---
layout: "layouts/base.njk"
title: "Home"
---

<section class="categories">
  <div class="categories__grid">
    {% for card in categories %}
      {% include "components/category-card.njk" %}
    {% endfor %}
  </div>
</section>