<div class="site-header">
  <a href="/" class="site-header__branding">
    {{ site.author }}
  </a>
  <nav class="site-header__nav">
    <a href="/illustration/">Illustration</a>
    <a href="/motion-design/">Motion design</a>
    <a href="/books/">Books</a>
    <a href="/about/">About Me</a>
  </nav>
</div>